fastapi
numpy
requests
httpx
pydantic
uvicorn
openfoodfacts
python-dotenv
firebase-admin
pytesseract
opencv-python-headless
pyzbar
python-multipart
google-genai
sqlalchemy
pymysql
cloud-sql-python-connector[pymysql]